@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding:0;margin:0;
    font-family: 'GmarketSansMedium';
}

h1{
    font-size:1.5rem;
    font-family: 'GmarketSansBold';
}

.webgl{
    width:60%;
    position: absolute;
    top:0;
    left:0;
    outline: 0;
    background-image: linear-gradient(to right,#ffc0cb 40%, rgba(255, 192, 203, .8));
}

.contents{
    position: absolute;
    width:40%;
    top:0;
    left:60%;
}

#loading{
    position: absolute;
    top:40%;
    left:0;
    outline:0;
    width:0;
    height: 10%;
    background-color: #dcaea0;
    text-align: center;
    color:white;
    z-index: 100;
}

#loading p{
    padding-top: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding-top:10px;
}

.header{
    margin: 0 20px 20px -70px;
    background-color: white;
    padding: 20px;
    box-shadow: 10px 10px rgba(255, 192, 203, .9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header p {
    text-shadow: #ffc0c0 1px 0px 10px;
}

.stage{
    display: none;
}

.stage00{
    display: block;
}

.description{
    font-size:1em;
}

#info{
    position: fixed;
    top: 10px; left:10px;
    z-index: 100;
    padding: 10px;
    font-size: .8rem;
    border: 2px solid white;
    background-color: #ffc0cb;
    color: #fdfdfd;
    border-radius: 5px;
}

.sceneBtn{
    border: 0px;
    background-color: transparent;
    padding:20px;
}

.sceneBtn:hover{
    cursor: pointer;
    background-color: #3d3d3d;
    color: white;
}

.link_container{
    border:1px solid #3d3d3d;
    position: fixed;
    bottom:0;
    width: 100%;
    padding: 10px;
    color:#3d3d3d;
    font-size: 1em;
}

.link_container p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_container a{
    margin-left:1em;
    padding:8px;
    padding-bottom: 7px;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    text-decoration: none;
    background-color: #fdfdfd;
    color:#3d3d3d;
}

.link_container a:hover{
    background-color: #3d3d3d;
    border:1px solid #3d3d3d;
    color: #fdfdfd;
}

.copyright{
    position: fixed;
    background-color: #fdfdfd;
    color:#3d3d3d;
    bottom:0px;
    right:0px;
    font-size:.8em;
}

.copyright p{
    margin-top:0;
}

.copyright:hover .copyright-text{
    display: block;
}

.copyright-text{
    display: none;
}

.stage-project{
    border:1px solid black;
    margin-top: 5px;
    padding: 5px;
    font-size:1rem;
}

.project-description{
    font-size:1em;
    font-weight: normal;
}

.donation_people{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    margin-top: 20px;
}

.donation_people img{
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.donation_people p {
    margin-left: 15px;
}

.donation_say{
    font-size: 1em;
}

.profile_img{
    font-size:0px;
}

.donation_Btn{
    position: fixed;
    top: 100px;
    left: 10px;
    border:1px solid #fdfdfd;
    padding: 10px;
    border-radius: 3px;
    color:#fdfdfd;
    text-decoration: none;
    font-size: .8rem;
}

.donation_Btn:hover{
    color:#ffc0c0;
    background-color: #fdfdfd;
}

@media screen and (max-width: 1200px) {
    h1{
        font-size: 1.3em;
    }
    .header{
        padding: 10px;
    }
    .donation_people img{
        width: 50px;
        height: 50px;
    }
    .donation_people{
        padding: 3px;
    }
    .donation_say{
        font-size: .8em;
    }
    .stage-project{
        font-size: .8em;
    }
}


@media screen and (max-width: 768px){
    h1{
        font-size: 1em;
    }
    .header{
        padding: 5px;
    }
    .description{
        font-size:.8em;
    }
    .donation_people{
        padding: 5px;
    }
    .donation_people img{
        width: 30px;
        height: 30px;
    }
    .donation_say{
        font-size: .8em;
    }
    .link_container p{
        display: block;
    }
    .stage-project{
        font-size: .5em;
    }
    #info, .donation_Btn{
        font-size: .3em;
    }
}



@media screen and (max-width: 360px){
    #info{
        display: none;
    }

}
