@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding:0;margin:0;
    font-family: 'GmarketSansMedium';
}

h1{
    font-size:1.5rem;
    font-family: 'GmarketSansBold';
}

.webgl{
    width:70%;
    position: absolute;
    top:0;
    left:0;
    outline: 0;
}

html,
body{
    overflow: hidden;
}

.contents{
    position: absolute;
    width:30%;
    top:0;
    left:70%;
}

#loading{
    position: absolute;
    top:40%;
    left:0;
    outline:0;
    width:0;
    height: 10%;
    background-color: black;
    text-align: center;
    color:white;
    z-index: 100;
}
#loading p{
    padding-top: 10px;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding-top:30px;
}

.header{
    margin: 20px 0;
    margin-left: -70px;
    background-color: white;
    padding: 20px;
    box-shadow: 10px 10px rgba(255, 192, 203, .9);
}

.header p {
    text-shadow: #ffc0c0 1px 0px 10px;
}

