@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding:0;margin:0;
    font-family: 'GmarketSansMedium';
}

html,
body{
    overflow: hidden;
}

h1{
    font-size:1.5rem;
    font-family: 'GmarketSansBold';
}

.webgl{
    width:60%;
    position: absolute;
    top:0;
    left:0;
    outline: 0;
    background-image: linear-gradient(to right,#ffc0cb 40%, rgba(255, 192, 203, .8));
}

.contents{
    position: absolute;
    /* width:40%; */
    top:0;
    left:60%;
}

#loading{
    position: absolute;
    top:40%;
    left:0;
    outline:0;
    width:0;
    height: 10%;
    background-color: #3d3d3d;
    text-align: center;
    color:white;
    z-index: 100;
}

#loading p{
    padding-top: 10px;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding-top:10px;
}

.header{
    margin: 0 20px 20px -70px;
    background-color: white;
    padding: 20px;
    box-shadow: 10px 10px rgba(255, 192, 203, .9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header p {
    text-shadow: #ffc0c0 1px 0px 10px;
}

.stage{
    display: none;
}

.stage00{
    display: block;
}

#info{
    position: fixed;
    top: 10px; left:10px;
    z-index: 100;
    padding: 10px;
    font-size: .8rem;
    border: 2px solid white;
    background-color: #ffc0cb;
    color: #fdfdfd;
    border-radius: 5px;
}

.sceneBtn{
    border: 0px;
    background-color: transparent;
    padding:20px;
}

.sceneBtn:hover{
    cursor: pointer;
    background-color: #3d3d3d;
    color: white;
}

.link_container{
    padding-top: 5px;
    border-top: 1px solid #3d3d3d;
}

.link_container p {
    margin-top: 1rem;
}

.org-text, .org-title{
    font-weight: bolder;
}
.link_container .org-text{
    margin-top: .5rem;
}

.donation a{
    padding: .5rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: #3d3d3d;
    color:white;
}

.donation a:hover{
    background-color: white;
    border:1px solid #3d3d3d;
    color:#3d3d3d;
}

.copyright{
    position: fixed;
    bottom:0px;
    right:0px;
}

.copyright p{
    margin-top:0;
}

.copyright:hover .copyright-text{
    display: block;
}

.copyright-text{
    display: none;
}

.stage-project{
    border:1px solid black;
    margin-top: 5px;
    padding: 5px;
    font-size:1rem;
}

.project-description{
    font-size:1em;
    font-weight: normal;
}

.game_say{
    position: absolute;
    font-size:.5em;
    top: 10;
    left:10;
    background-color: transparent;
    border:1px solid white;
    border-radius: 5px;
    padding: 2px;
}